body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 30px;
	background-color: orchid;

}

a {
	color:red;
}

.foodyspread{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	
}



.foodyspread img {
width:100%;
border:20px solid orangered;

}







.links {
	
	background-color: orangered;
	position:fixed;
	top:90px;
	right:90px;
	font-family:courier;
	padding: 10px;


}

.links a{
	text-decoration:none;
	color:papayawhip;
	margin-top: 10px;
	margin-left: 10px;
	margin-right:10px;
	margin-bottom: 10px;
	display:block;


 
}

.links a:hover {

	color:royalblue;
}

.name {
	font-size:100px;
	text-align: center;
	text-shadow:0px 0px 20px orange;
	font-family: arial black;
}

.copy {
	font-size: 180px;
	font-weight: bold;
	text-align: center;
text-shadow: 10px 10px 10px orangered;
font-family:arial black;
padding:100px;

	
}

.icon img{
	width:15%;
	position:absolute;
	top:500px;
	left:20px;

}
.icon1 img{
	width:20%;
	position:absolute;
	top:400px;
	left:1400px;

}
.icon2 img{
	width:10%;
	position:absolute;
	top:700px;

}
.icon3 img{
	width:15%;
	position:absolute;
	top:1000px;

}
.icon4 img{
	width:10%;
	position:absolute;
	top:50px;

}
.icon5 img{
	width:10%;
	position:absolute;
	top:950px;
	right:50px;

}
.icon6 img{
	width:15%;
	position:absolute;
	top:1400px;
	right:30px;

}
.icon7 img{
	width:15%;
	position:absolute;
	top:1800px;

}

